/* CSS INFORMATION
	- Project: Grid
	- Author: FelixPlus - www.felixplus.com
	- Last Update: 09/06/2013
*/

@media only screen and (min-width: 980px) and (max-width: 1110px) {



}

@media only screen and (min-width: 768px) and (max-width: 979px) {



}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    
    
    

#wrapper1 {
	width:340px;
	margin:0 auto;
}

#skin {
	position:relative;
	border:10px solid rgba(255,255,255,.10);
	width:340px;
	height:170px;
	overflow:hidden;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s  ease;
	-o-transition: all .3s  ease;
	-ms-transition: all .3s  ease;
	transition: all .3s ease;
}
.left,
.right {
	float:left;
	width:50%;
	height:100%;
	margin:0;
	text-align:center;
	line-height:280px;
	text-decoration:none;
}

.left {
	
	text-indent:0px;
}
.right {
	
	text-indent:0px;
}

#skin a img {
    
        width:100%;
	height:100%;
    
}
#skin .icon {
	width:70px;
	height:70px;
	position:absolute;
	top:20%;
	left:42%;
	margin:0px auto 0 -35px;
	background: url(icon_small.png) top center no-repeat;
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s  ease-in-out;
	-o-transition: all .3s  ease-in-out;
	-ms-transition: all .3s  ease-in-out;
	transition: all .3s ease-in-out;
}






}

@media only screen and (max-width: 479px) {

    
    
    
    #wrapper1 {
	width:260px;
	margin:1.5em;
}

#skin {
	position:relative;
	border:10px solid rgba(255,255,255,.10);
	width:260px;
	height:130px;
	overflow:hidden;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s  ease;
	-o-transition: all .3s  ease;
	-ms-transition: all .3s  ease;
	transition: all .3s ease;
}
.left,
.right {
	float:left;
	width:50%;
	height:100%;
	margin:0;
	text-align:center;
	line-height:280px;
	text-decoration:none;
}

.left {
	
	text-indent:0px;
}
.right {
	
	text-indent:0px;
}

#skin a img {
    
        width:130px;
	height:130px;
        margin-bottom:1em;
    
}
#skin .icon {
	width:70px;
	height:70px;
	position:absolute;
	top:20%;
	left:42%;
	margin:0px auto 0 -35px;
	background: url(icon_small.png) top center no-repeat;
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s  ease-in-out;
	-o-transition: all .3s  ease-in-out;
	-ms-transition: all .3s  ease-in-out;
	transition: all .3s ease-in-out;
}





}

